# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod



.vs
x64
Game/ClientFramework/FbxLib/libfbxsdk-md.lib
Game/ClientFramework/FbxLib/libfbxsdk.dll
Game/ClientFramework/FbxLib/libfbxsdk.pdb
Document/Gr_LEVEL/
*.lib
Code/ClientFramework/ClientFramework/FbxLib/libfbxsdk.dll
Code/ClientFramework/ClientFramework/FbxLib/libfbxsdk.pdb
